{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
 

     
{% endblock %}

{% block content %}
{% for product in products %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Local Fresh Vegetables
                    {{ product.name }}

                </h1>
                <div class="my-5">
                  
                          <h4>
                        <a href="{% url 'products'%}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Buy & Eat Green</a>
                    </h4>
                    
                    
                </div>
            </div>
        </div>
    </div>
       {% endfor %}
   <div class="jumbotron jumbotron-billboard">
  
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h2>Register</h2>
               
                 <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="logo-font my-1">Signe Up and earn Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
                	
                <a href="#" class="btn btn-success btn-lg">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}