{% extends "base.html" %} {% load static %}
{% block content %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col h1 text-center">BLOG</div>
        </div>
    </div>
{% endblock %}

{% for post in post_list %}
<div class="card text-center">
    <div class="card-header">
        {{ post.title }}
    </div>
    <div class="card-body">
        {% if post.image %}
            <img class="card-img mx-auto card-1" src="{{ post.image.url }}" alt="{{ post.title }}" />
        {% else %}
            <img class="card-img mx-auto card-1" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}" />
        {% endif %}
        <p style="margin: 1rem;" class="card-text">{{ post.content|safe|slice:":300" }}...</p>
        <a href="{% url 'post_detail' post.slug  %}" class="btn blog">Read More</a>
    </div>
    <div class="card-footer text-muted">
        {{ post.author }} | {{ post.created_on}}
    </div>
</div>
{% endfor %}

<!-- Pagination -->
<div>
    {% if post_list.has_other_pages %}
    <nav aria-label="Page navigation conatiner">
        <ul class="pagination justify-content-center">
            {% if post_list.has_previous %}
                <li>
                    <a href="?page={{ post_list.previous_page_number }}" class="page-link btn-secondary">&laquo; Previous
                        Page
                    </a>
                </li>
            {% endif %} 
            {% if post_list.has_next %}
                <li>
                    <a href="?page={{ post_list.next_page_number }}" class="page-link btn-secondary">
                        Next page &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% endblock %} 


