.order-history{
    max-height: 416px; /* the height of profile form +  submit button */
    overflow-y: auto;
}
#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}



